<ne-search></ne-search>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Cool column</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of data; trackBy: trackByFn">
      <th>{{ entry.name }}</th>
      <td>{{ entry.description }}</td>
      <td>{{ entry.status }}</td>
      <td>{{ entry.coolColumn }}</td>
    </tr>
  </tbody>
</table>

<ne-pager
  [collection]=fetchedData
  [page]=options.page
  [pageSize]=options.pageSize
  [maxPages]=options.maxPages
  (pagedResults)='getPagedData($event)'>
</ne-pager>

